

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

body{
  background-color:rgb(236, 230, 221);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300; /* if you want the light version */
  color: rgb(65, 51, 51);
  font-size: 14px;
  line-height: 5px;
  text-align: center;
  justify-content: center;
}

h1{
  color:rgb(79, 51, 51);
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 5px;
}


h2, h3{
  color:rgb(10, 37, 37);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 5px;
}
img{
  border-radius: 50%;
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}
